form.form-basic{ 
     max-width: 640px; 
     margin: 0 auto; 
     padding: 55px; 
     box-sizing: border-box; 
     font: bold 14px'Finger Paint', cursive; 
     text-align: center; 
     color: #060438; 
 } 
 
 
 .form-basic .form-row{ 
     text-align: left; 
      
 } 
 .form-basic .form-title-row{ 
     text-align: center; 
     margin-bottom: 55px; 
 } 
 .form-basic .form-row > label span{ 
     display: inline-block; 
     box-sizing: border-box; 
     color: #501111; 
     width: 180px; 
     text-align: right; 
     vertical-align: top; 
     padding: 12px 25px; 
 } 
 
 
 .form-basic input{ 
     color:  #5f5f5f; 
     box-sizing: border-box; 
     width: 75%; 
     box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08); 
     padding: 12px; 
     border: 1px solid #dbdbdb; 
 } 
 .form-basic textarea{ 
     color:  #5f5f5f; 
     box-sizing: border-box; 
     width: 75%; 
     height: 80px; 
     box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08); 
     font: normal 13px sans-serif; 
     padding: 12px; 
     border: 1px solid #dbdbdb; 
     resize: vertical; 
 } 
 .form-basic button{ 
     display: block; 
     border-radius: 2px; 
     background-color:  #6caee0; 
     color: #ffffff; 
     font-weight: bold; 
     box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08); 
     padding: 14px 22px; 
     border: 0; 
     margin: 40px 183px 0; 
     font: bold 14px'Finger Paint', cursive; 
 } 
 @media (max-width: 600px) { 
     .form-basic{ 
         padding: 30px; 
         max-width: 480px; 
     } 
     .form-basic textarea{ 
         height: 60px; 
     } 
     .form-basic input{ 
         height: 30px; 
     } 
     .form-basic .form-row{ 
         max-width: 255px; 
         margin: 25px auto; 
         text-align: left; 
     } 
 
 
     .form-basic .form-title-row{ 
         margin-bottom: 50px; 
     } 
 
 
     .form-basic .form-row > label span{ 
         display: block; 
         text-align: left; 
         padding: 0 0 15px; 
     } 
     .form-basic button{ 
         margin: 0; 
     } 
 
 
 } 
 @media (max-width: 400px) { 
.form-basic{ 
padding: 30px; 
    } 
     .form-basic textarea{ 
         height: 40px; 
     } 
.form-basic .form-row{ 
        margin-left: 50px; 
         text-align: left; 
     } 

 
     .form-basic .form-title-row{ 
         margin-bottom: 50px; 
   }  
 
     .form-basic .form-row > label span{ 
         display: block; 
         text-align: left; 
         padding: 0 0 15px; 
     } 
     .form-basic button{ 
         margin: 0; 
     } 
 
 } 
