.content{ 
     margin-bottom:200px; 
 } 
 .flex-container { 
     margin: 0; 
     height:98%; 
     list-style: none; 
     display: flex; 
     flex-direction:row; 
     justify-content:left; 
 } 
 .parent6:after { 
     content: " "; 
     display: block; 
    height: 0; 
     clear: both; 
     visibility: hidden; 
 } 
 .flex-item{ 
     width:95px; 
     height:100%; 
 } 
 .flex-item:hover{ 
     padding:2px; 
     margin:2px; 
     transform:rotateX(360deg) rotateY(360deg); 
     transition-duration: 2.5s; 
 } 
 .flex-item>img{ 
     width:99%; 
 } 
.parent{ 
     height:79px; 
 } 
 .parent1{ 
     display:block; 
     position:relative; 
    top:60px; 
     animation-timing-function: ease; 
     animation: mymove1 3s infinite; 
    animation-fill-mode:forwards; 
     animation-iteration-count: 1; 
 } 
 .parent2{ 
     display:block; 
     position:relative; 
     top:60px; 
     animation-timing-function: ease-in-out; 
     animation: mymove2 3s infinite; 
     animation-fill-mode:forwards; 
     animation-iteration-count: 1; 
 } 
 .parent3{ 
     display:block; 
     position:relative; 
     top:60px; 
     animation-timing-function: ease-out; 
     animation: mymove3 3s infinite; 
     animation-fill-mode:forwards; 
     animation-iteration-count: 1; 
 } 
 
